#bullets{
	position: absolute;
	top: 85%;
	left: 3%;
	width: 10%;
	height: 10%;
}

#gameOverImage{
	position: absolute;
	width: 100%;
	height: 100%;
}

#lifebar{
	position: absolute;
	top: 90%;
	left: 40%;
}

#level{
	position: absolute;
	top: 5%;
	left: 45%;
	width: 8%;
	height: 8%;
}

#level_num{
	position: absolute;
	top: 5%;
	left: 52%;
	width: 8%;
	height: 8%;
}

#Menu{
	position:absolute;
	top: 14%;
	left: 33%;
	width: 35%;
	height: 35%;
}

#title{
	position:absolute;
	top: 4%;
	left: 22%;
	width: 62%;
	height: 21%;
}

#GameOver{
	position:absolute;
	top: 20%;
	left: 22%;
	width: 62%;
	height: 21%;
}

#bulletsNum{
	position:absolute;
	font-size: 50px;
	color: #FFFF00;
	top: 88%;
	left: 13%;
}

#playButton{
	position:absolute;
	width: 10%;
	height: 10%;
	top: 60%;
	left: 44%;
}

#speaker{
	position:absolute;
	width: 4%;
	height: 8%;
	top: 4%;
	left: 93%;
}

#speakerMute{
	position:absolute;
	width: 4%;
	height: 8%;
	top: 4%;
	left: 93%;
}

#recharge{
	position: absolute;
	font-size: 20px;
	color: #FFFF00;
	top: 91%;
	left: 17%;
}

#restart{
	position: absolute;
	font-size: 50px;
	color: #FFFF00;
	top: 50%;
	left: 32%;
}

#overlay {

}